<h1>Show</h1>

<%= image_tag  @portfolio_item.main_image %>
<h3><%= @portfolio_item.title %></h3>
<em><%= @portfolio_item.subtitle %></em>
<p><%= @portfolio_item.body %></p>

<h2>Technologies Used:</h2>
<% @portfolio_item.technologies.each do |t| %>
    <p><%= t.name %></p>
<% end %>

<hr>

<%= params.inspect %>

<hr>

<%= session.inspect %>