<p id="notice"><%= notice %></p>

<h2>Categories</h2>

<hr>

  <div>
    <% @categories.each do |category| %>
      <div class="content">
        <p><%= category.title %></p>
        <p><%= category.description %></p>
        <p><%= link_to 'Show', category %></p>
        <p><%= link_to 'Edit', edit_category_path(category) %></p>
        <p><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
  </div>
<br>

<%= link_to 'Create a New Category', new_category_path %>